

// main room animations

@include keyframes(rotateRoomLeftOut)
  to
    @include transform(translateX(-100%) rotateY(90deg))

.pt-page-rotateRoomLeftOut
  @include transform-origin(100% 50% 0)
  @include animation(rotateRoomLeftOut .8s both ease)


@include keyframes(rotateRoomRightOut)
  to
    @include transform(translateX(100%) rotateY(-90deg))

.pt-page-rotateRoomRightOut
  @include transform-origin(0% 50% 0)
  @include animation(rotateRoomRightOut .8s both ease)


@include keyframes(rotateRoomLeftIn)
  from
    opacity: .3
    @include transform(translateX(100%) rotateY(-90deg))

.pt-page-rotateRoomLeftIn
  @include transform-origin(0% 50% 0)
  @include animation(rotateRoomLeftIn .8s both ease)


@include keyframes(rotateRoomRightIn)
  from
    opacity: .3
    @include transform(translateX(-100%) rotateY(90deg))

.pt-page-rotateRoomRightIn
  @include transform-origin(100% 50% 0)
  @include animation(rotateRoomRightIn .8s both ease)



// Next slides

@include keyframes(rotateRoomTopOut)
  to
    opacity: .3
    @include transform(translateY(-100%) rotateX(-90deg))

.pt-page-rotateRoomTopOut
  @include transform-origin(50% 100% 0)
  @include animation(rotateRoomTopOut .8s both ease)


@include keyframes(rotateRoomTopIn)
  from
    opacity: .3
    @include transform(translateY(100%) rotateX(90deg))

.pt-page-rotateRoomTopIn
  @include transform-origin(50% 0% 0)
  @include animation(rotateRoomTopIn .8s both ease)

  