#narrows 
	z-index: 0
	position: fixed
	width: 100%
	height: 100%

#narrows_back,
#narrows_middle
	position: absolute
	width: 100%
	height: 100%

#narrows_back
	@include background(image-url("narrows_1.png") repeat scroll 0 0)
#narrows_middle
	@include background(image-url("narrows_2.png") repeat scroll 0 0)
