@import "compass/reset"
@import "compass/css3/images"
@import "compass/css3/transition"
@import "compass/css3/box-sizing"

//Open Sans font
//@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic"

//Sprites for main
//@import "main/*.png"
//@include all-main-sprites

$body_bg_color: #fffdf1

@font-face
	font-family: 'Open Sans'
	font-style: normal
	font-weight: 300
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTQcuEIXEaFWBWXA4NoGd_Oo.woff) format('woff')

@font-face
	font-family: 'Open Sans'
	font-style: normal
	font-weight: 400
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')


body
	background: $body_bg_color
	font-family: 'Open Sans'
	font-weight: 300
	color: #656462

#narrows 
	z-index: 0
	position: fixed
	width: 100%
	height: 100%

#main 
	z-index: 1
	position: absolute
	width: 100%
	overflow: hidden

#container
	overflow: hidden

#logo
	@include background(image-url("main-logo.png"))
	width: 1000px
	height: 246px
	margin-top: 150px

#owl
	@include background(image-url("owl.png"))
	width: 90px
	height: 159px
	position: absolute
	top: 100px
	left: 200px

.wrap
	width: 1000px
	margin: auto
	position: relative

.main_manu
	text-align: center
	margin-top: 60px
	> a
		color: #555452
		text-decoration: none
		font-size: 1.2em
		padding: 0 1em
		&:hover
			color: #fe0096

#narrows_back,
#narrows_middle,
#narrows_front
	position: absolute
	width: 100%
	height: 100%

#narrows_back
	@include background(image-url("narrows_1.png") repeat scroll 0 0)
#narrows_middle
	@include background(image-url("narrows_2.png") repeat scroll 0 0)
#narrows_front
	@include background(image-url("narrows_3.png") repeat scroll 0 0)



.title
	margin-top: 8em
	font-weight: 300
	text-align: center
	> p 
		margin: 0
	.first
		font-size: 4em
	.second
		font-size: 14.6em
		line-height: .5em
	.third
		font-size: 2.7em
		line-height: 3em
		margin-right: 2.7em


.portfolio
	> canvas
		width: 100%
		display: block


.skills
	float: left
	width: 58%
	.box
		margin: 1em auto
		.label
			display: inline-block
			font-size: 1.6em
			width: 40%
			text-align: right
			padding: 0 .5em
			color: #fc0697
		.bar
			display: inline-block
			height: 2.6em
			@include background(linear-gradient(bottom top, #fc0697, #ff6d00))
			color: #fff
			text-align: right
			@@include box-sizing(border-box)
			font-size: 1.2em
			line-height: 2.7em
			width: 0
			> span
				opacity: 0
				padding: 0 .5em
	.group
		margin: 5em 0
		&.coding
			.label
				color: #0190df
			.bar
				@include background(linear-gradient(bottom top, #00a2fd, #03f1d1))
		&.programming
			.label
				color: #6a00e8
			.bar
				@include background(linear-gradient(bottom top, #6a00e8, #d200ff))
		&.another
			.label
				color: #f09522
			.bar
				@include background(linear-gradient(bottom top, #e7b903, #c4eb00))


.skills_descs
	float: left
	width: 42%
	margin: 3em 0
	font-weight: 400
	font-size: 0.9em
	background: #fffdf1
	opacity: .85
	.desc 
		max-width: 400px
		padding: 1.2em 2em
		line-height: 1.4em
		> p
			margin: .8em 0
		.red
			font-size: 1.6em
			color: #fe0096
