/* line 17, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/1.9.3-p429/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTQcuEIXEaFWBWXA4NoGd_Oo.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

/* line 16, ../../src/styles/_template.sass */
body {
  background: #fffdf1;
  font-family: "Open Sans";
  font-weight: 300;
  color: #656462;
}

/* line 22, ../../src/styles/_template.sass */
#main {
  z-index: 1;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

/* line 28, ../../src/styles/_template.sass */
#container {
  overflow: hidden;
}

/* line 31, ../../src/styles/_template.sass */
#logo {
  background: url('../images/main-logo.png?1371662979');
  width: 1000px;
  height: 246px;
  margin-top: 150px;
}

/* line 37, ../../src/styles/_template.sass */
#owl {
  background: url('../images/owl.png?1371662997');
  width: 90px;
  height: 159px;
  position: absolute;
  top: 100px;
  left: 200px;
}

/* line 45, ../../src/styles/_template.sass */
.wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}

/* line 50, ../../src/styles/_template.sass */
.main_manu {
  text-align: center;
  margin-top: 60px;
}
/* line 53, ../../src/styles/_template.sass */
.main_manu > a {
  color: #555452;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 1em;
}
/* line 58, ../../src/styles/_template.sass */
.main_manu > a:hover {
  color: #fe0096;
}

/* line 61, ../../src/styles/_template.sass */
.title {
  margin-top: 8em;
  font-weight: 300;
  text-align: center;
}
/* line 65, ../../src/styles/_template.sass */
.title > p {
  margin: 0;
}
/* line 67, ../../src/styles/_template.sass */
.title .first {
  font-size: 4em;
}
/* line 69, ../../src/styles/_template.sass */
.title .second {
  font-size: 14.6em;
  line-height: 0.5em;
}
/* line 72, ../../src/styles/_template.sass */
.title .third {
  font-size: 2.7em;
  line-height: 3em;
  margin-right: 2.7em;
}

/* line 1, ../../src/styles/_skills.sass */
.skills {
  float: left;
  width: 58%;
}
/* line 4, ../../src/styles/_skills.sass */
.skills .box {
  margin: 1em auto;
}
/* line 6, ../../src/styles/_skills.sass */
.skills .box .label {
  display: inline-block;
  font-size: 1.6em;
  width: 40%;
  text-align: right;
  padding: 0 0.5em;
  color: #fc0697;
}
/* line 13, ../../src/styles/_skills.sass */
.skills .box .bar {
  display: inline-block;
  height: 2.6em;
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #fc0697), color-stop(100%, #ff6d00));
  background: -webkit-linear-gradient(bottom top, #fc0697, #ff6d00);
  background: -moz-linear-gradient(bottom top, #fc0697, #ff6d00);
  background: -o-linear-gradient(bottom top, #fc0697, #ff6d00);
  background: linear-gradient(bottom top, #fc0697, #ff6d00);
  color: white;
  text-align: right;
  @@include box-sizing(border-box);
  font-size: 1.2em;
  line-height: 2.7em;
  width: 0;
}
/* line 23, ../../src/styles/_skills.sass */
.skills .box .bar > span {
  opacity: 0;
  padding: 0 0.5em;
}
/* line 26, ../../src/styles/_skills.sass */
.skills .group {
  margin: 5em 0;
}
/* line 29, ../../src/styles/_skills.sass */
.skills .group.coding .label {
  color: #0190df;
}
/* line 31, ../../src/styles/_skills.sass */
.skills .group.coding .bar {
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #00a2fd), color-stop(100%, #03f1d1));
  background: -webkit-linear-gradient(bottom top, #00a2fd, #03f1d1);
  background: -moz-linear-gradient(bottom top, #00a2fd, #03f1d1);
  background: -o-linear-gradient(bottom top, #00a2fd, #03f1d1);
  background: linear-gradient(bottom top, #00a2fd, #03f1d1);
}
/* line 34, ../../src/styles/_skills.sass */
.skills .group.programming .label {
  color: #6a00e8;
}
/* line 36, ../../src/styles/_skills.sass */
.skills .group.programming .bar {
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #6a00e8), color-stop(100%, #d200ff));
  background: -webkit-linear-gradient(bottom top, #6a00e8, #d200ff);
  background: -moz-linear-gradient(bottom top, #6a00e8, #d200ff);
  background: -o-linear-gradient(bottom top, #6a00e8, #d200ff);
  background: linear-gradient(bottom top, #6a00e8, #d200ff);
}
/* line 39, ../../src/styles/_skills.sass */
.skills .group.another .label {
  color: #f09522;
}
/* line 41, ../../src/styles/_skills.sass */
.skills .group.another .bar {
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #e7b903), color-stop(100%, #c4eb00));
  background: -webkit-linear-gradient(bottom top, #e7b903, #c4eb00);
  background: -moz-linear-gradient(bottom top, #e7b903, #c4eb00);
  background: -o-linear-gradient(bottom top, #e7b903, #c4eb00);
  background: linear-gradient(bottom top, #e7b903, #c4eb00);
}

/* line 45, ../../src/styles/_skills.sass */
.skills_descs {
  float: left;
  width: 42%;
  margin: 3em 0;
  font-weight: 400;
  font-size: 0.9em;
  background: #fffdf1;
  opacity: 0.85;
}
/* line 53, ../../src/styles/_skills.sass */
.skills_descs .desc {
  max-width: 400px;
  padding: 1.2em 2em;
  line-height: 1.4em;
}
/* line 57, ../../src/styles/_skills.sass */
.skills_descs .desc > p {
  margin: 0.8em 0;
}
/* line 59, ../../src/styles/_skills.sass */
.skills_descs .desc .red {
  font-size: 1.6em;
  color: #fe0096;
}

/* line 2, ../../src/styles/_portfolio.sass */
.portfolio > canvas {
  width: 100%;
  display: block;
}

/* line 5, ../../src/styles/_portfolio.sass */
.prtf_box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 3;
}
/* line 11, ../../src/styles/_portfolio.sass */
.prtf_box h1 {
  color: white;
}

/* line 1, ../../src/styles/_narrows.sass */
#narrows {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 7, ../../src/styles/_narrows.sass */
#narrows_back,
#narrows_middle {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 13, ../../src/styles/_narrows.sass */
#narrows_back {
  background: url('../images/narrows_1.png?1371661210') repeat scroll 0 0;
}

/* line 15, ../../src/styles/_narrows.sass */
#narrows_middle {
  background: url('../images/narrows_2.png?1371661259') repeat scroll 0 0;
}
