!!! 5
html
	head
		title MaxSvargal - web developer and designer
		meta(charset='utf-8')
		meta(name='description', content='MaxSvargals site')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/styles/main.css')
	body
		#narrows
			#narrows_back
			#narrows_middle
		#main
			#header
				.wrap
					nav.main_manu
						a(href='#') Design
						a(href='#') Front-end
						a(href='#') Back-end
						a(href='#') Another skills
						a(href='#') Social skills
						a(href='#') Portfolio
						a(href='#') Contacts
					#logo
					#owl
					h1.title
						p.first Programmer's
						p.second way
						p.third in web design
					#skills.skills
						

			.portfolio#portfolio
				//canvas Epic fail. Your browser doesn't support canvas.

			#content
		script(src='/scripts/main.js')
