!!! 5
html
	head
		title MaxSvargal - web developer and designer
		meta(charset='utf-8')
		meta(name='description', content='MaxSvargals site')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/styles/main.css')
	body
		#narrows
			#narrows_back
			#narrows_middle
		#pt-main.pt-perspective
			#page_main.pt-page.pt-page-current
				#container
					#header
						.wrap
							nav.main_manu
								a(href='#') Design
								a(href='#') Front-end
								a(href='#') Back-end
								a(href='#') Another skills
								a(href='#') Social skills
								a(href='#') Portfolio
								a(href='#') Contacts
							.logo_box
								#logo
								#owl
							h1.title
								p.first Programmer's
								p.second way
								p.third in web design
					#skills.skills
						include prtf_desc
				#portfolio.portfolio
				footer.footer
					hgroup.footer-title
						h2 Contacts
						h3 Give me your attention
					.footer-buttons
						a.hidden.tel(href='#')
							.back +7 (925) 363 90 73
						a.hidden.github(href='#')
						a.hidden.email(href='#')
						a.hidden.facebook(href='#')
						a.hidden.gplus(href='#')
						a.hidden.vk(href='#')
						a.hidden.instagram(href='#')
						a.hidden.twitter(href='#')
					
			#portfolio_overlay.pt-page

		script(src='/scripts/main.js')