!!! 5
html
	head
		title MaxSvargal - web developer and designer
		meta(charset='utf-8')
		link(rel='icon', type='image/png', href='/images/favicon.png')
		meta(name='description', content='MaxSvargals portfolio site')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/styles/main.css')
	body
		#narrows
			#narrows_back.animated
			#narrows_middle.animated
		#pt-main.pt-perspective
			#page_main.pt-page.pt-page-current
				#container
					#header
						.wrap
							nav.main_manu
								a(href='/to/design') Design
								a(href='/to/frontend') Front-end
								a(href='/to/backend') Back-end
								a(href='/to/another') Other skills
								a(href='/to/portfolio') Portfolio
								a(href='/to/contacts') Contacts
							.logo_box
								#logo
									#owl
							h1.title
								p.first Programmer's
								p.second way
								p.third in web design
					#skills.skills
						include prtf_desc
				#portfolio.portfolio
				footer#contacts.footer
					hgroup.footer-title
						h2 Contacts
						h3 keep in touch
					.footer-buttons
						a.hidden.tel(href='skype:maxsvargal?call')
						a.hidden.github(href='https://github.com/MaxSvargal', target="_blank")
						a.hidden.email(href='mailto:maxsvargal@gmail.com', target="_blank")
						a.hidden.facebook(href='https://www.facebook.com/maxsvargal', target="_blank")
						a.hidden.gplus(href='https://plus.google.com/u/0/103190676214332981509/posts', target="_blank")
						a.hidden.vk(href='http://vk.com/maxsvargal', target="_blank")
						a.hidden.instagram(href='http://instagram.com/maxsvargal', target="_blank")
						a.hidden.twitter(href='https://twitter.com/maxsvargal', target="_blank")
					
			#portfolio_overlay.pt-page

		script(src='/scripts/main.js')
		include counters.html

