!!! 5
html
	head
		title MaxSvargal - web developer and designer
		meta(charset='utf-8')
		meta(name='description', content='MaxSvargals site')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/styles/main.css')
	body
		#narrows
			#narrows_back
			#narrows_middle
		#main
			#container
				#header
					.wrap
						nav.main_manu
							a(href='#') Design
							a(href='#') Front-end
							a(href='#') Back-end
							a(href='#') Another skills
							a(href='#') Social skills
							a(href='#') Portfolio
							a(href='#') Contacts
						#logo
						#owl
						h1.title
							p.first Programmer's
							p.second way
							p.third in web design
				#skills.skills
				.skills_descs
					.desc.design
						p
							span.red Дизайн 
							| &mdash; лицо и настроение вашего проекта. Но внешняя красота не должна идти во вред аккуратности и удобству. Задача дизайна &mdash; преподнести контент, потому дизайн обязан доходчиво объяснить ваши идеи.
						p Грамотный дизайн исключительно помогает пользователю, он должен думать как пользователь и подстраиваться под него, насколько это возможно. А это нелегкая задача даже для профессионала.
						p Я занимаюсь отрисовкой дизайна для веба уже 7 лет и до сих пор каждый новый проект для меня - это вызов моим способностям. Подарите мне новый?
					.desc.front
						p
							span.red Front-end 
							| &mdash; разработка под браузер. В первую очередь &mdash; это JavaScript программирование с серьезными навыками верстки, сборки и тестирования веб-проектов. Такой специалист должен знать и уметь ускрить клиентский код и оптимизировать скорость работы сайтов в браузере.
						p Я использую в своей работе на фронте Node.js для компиляции (Jade, Haml, CoffeeScript), сборки (Grunt, Require.js (AMD)), и иногда его систему модулей Common.js
						p Я очень люблю Sass за его аккуратный синтаксис и великолепные возможности Сompass.
						p Люблю native JavaScript, но в крупных проектах предпочитаю использовать jQuery для работы с DOM и анимаций. В остальном стараюсь писать свои плагины и реализации для jQuery.
						p Обожаю CoffeeScript, его синтаксис и приторность. Мне нравится идеология Ruby и я хочу поддерживать её в своих проектах.
					.desc.programming
						p
							span.red Back-end 
							| &mdash; серверная разработка приложений. Выбор платформы зависит от их преимуществ и недостатков для конкретного проекта. Потому я стараюсь следить за несколькими интересными мне языками и технологиями. Но по большому счету я заниматьсь этим для того, чтобы работал мой front-end.
							p С PHP я знаком уже очень давно. С опытом разработки веб-страниц, интернет-приложений и социальных сетей я решил, что пора двигаться дальше в изучении других платформ. Но иногда я выбираю Yii для реализации сайтов и несложным фронтом и не сильно требовательным к ресурсам.
							p Довольно недавно я создал пару проектов на Ruby on Rails и планирую заменить именно этим фреймворком и платфорной PHP.
							p Node.js &mdash; именно эта платформа является для меня самой перспективной и я рассчитываю остановиться на ней. Сейчас у меня есть собственный проект, который разрабатывается на Node.js и был выбран за свою скорость как json-сервис.
					.desc.another
						p
							span.red Другие навыки
							| &mdash; которые помогают мне в работе. 
						p Образ мышления программиста, применяющего концепцию разработки через тестирование и экстремальное тестирование кода, сильно отличается от "обычного" в первую очередь, стройностью и пониманием всего происходящего вокруг, а так же уверенностью в себе и в коде при следующем git merge. Сейчас крупные проекты не представляются мне без полного покрытия тестами.
						p Система контроля версий Git &mdash; мой постоянный спутник и лучший друг. Ни один проект не обходится без его участия. Есть опыт поднятия собственных репозиториев на серверах с linux (Debian).
						p Linux &mdash; куда же без этой чудесной операционной системы? Я являюсь членом Ubuntu LoCo Team Russia и LoCo Moskow. И считаю, что настоящий разработчик обязан знать Linux и дружить с ним, так как его код практически всегда будет работать под этой ОС. А разрабатывать на windows несколько гемморойно (особенно с front-end), что оставляет эту ОС на ПК исключительно для игр.
						p Mac OS X &mdash; пародистая unix система со своими особенностями. Но внутри это чистокровный unix, а снаружи - красивейший и отполированный linux. Именно поэтому я выбираю данную систему на своём MacBook Pro xD

			#portfolio.portfolio

		script(src='/scripts/main.js')
