#bars_box_design
.desc.design
  h2 Дизайн
  p Лицо и настроение вашего проекта. Но внешняя, казалось бы, красота не должна идти во вред аккуратности и удобству. Задача дизайна &mdash; преподнести контент, потому дизайн обязан доходчиво объяснить ваши идеи.
  p Грамотный дизайн исключительно помогает пользователю, он должен думать как пользователь и подстраиваться под него, насколько это возможно. А это нелегкая задача даже для профессионала.
  p Я занимаюсь отрисовкой дизайна для веба уже 7 лет и до сих пор каждый новый проект для меня - это вызов моим способностям. Подарите мне новый?

#bars_box_front
.desc.front
  p
    h2 Front-end 
    | &mdash; В первую очередь это JavaScript программирование для браузеров. А так же верстка и оптимизация общения сервера с клиентом. 
  p Я использую в своей работе на фронте Node.js для компиляции (Jade, Haml, Stylus, Sass, CoffeeScript), сборки (Grunt, Require.js (AMD)), и его систему модулей Common.js
  p Я очень люблю Stylus за его аккуратный, лаконичный синтаксис и быструю компиляцию с помощью Node.js.
  p Люблю native JavaScript, но в крупных проектах предпочитаю использовать jQuery для работы с DOM и несложной анимацией. В остальном стараюсь писать свои плагины и реализации для jQuery или без каких-либо библиотек вовсе.
  p Обожаю CoffeeScript, его синтаксис и приторность. Мне нравится идеология Ruby и я хочу поддерживать её в своих проектах.

#bars_box_back
.desc.programming
  p
    h2 Back-end 
    | &mdash; серверная разработка приложений. Выбор платформы зависит от конкретного проекта. Потому я стараюсь следить за несколькими интересными мне языками, фреймворками и технологиями. Но по большому счету я заниматьсь этим для того, чтобы работал мой front-end.
    p С PHP я знаком уже очень давно. С опытом разработки веб-страниц, интернет-приложений и социальных сетей я решил, что пора двигаться дальше в изучении других платформ. Но иногда я выбираю Yii за легкое разворачивание и поддержку.
    p Довольно недавно я создал пару проектов на Ruby on Rails и планирую заменить именно этим фреймворком PHP Yii.
    p Node.js &mdash; именно эта платформа является для меня самой перспективной и я рассчитываю остановиться на ней. Сейчас у меня есть собственный проект, который разрабатывается на Node.           
  
#bars_box_another
.desc.another
  p
    h2 Другие навыки
    | &mdash; которые помогают мне в работе. 
  p Образ мышления программиста, применяющего концепцию разработки через тестирование и экстремальное тестирование выделяется, в первую очередь, стройностью и пониманием всего происходящего вокруг, а так же уверенностью в качестве кода при следующем git merge. Сейчас крупные проекты не представляются мне без полного покрытия тестами.
  p Система контроля версий Git &mdash; мой постоянный спутник и лучший друг. Ни один проект не обходится без его участия. Есть опыт поднятия собственных репозиториев на серверах с Debian.
  p Linux &mdash; куда же без этой чудесной операционной системы? Я являюсь членом Ubuntu LoCo Team Russia и LoCo Moscow. И считаю, что настоящий разработчик обязан знать Linux и дружить с ним, так как его код скорее всего будет работать именно под этой ОС.