#design
.desc.design
  h2 Design
  p This is the face of your product or service. 
  p Nevertheless the surface's beauty should not run counter the convenience and usability.
  p The main aim of web-design is to deliver the message. 
  p I have been dealing with it for seven years, but still I treat every new project as an important challenge.
  p Are you ready to offer me another one?

#frontend
.desc.front
  h2 Front-end 
  p First of all, I am a JavaScript programmer and CSS virtuoso. 
  p I write code for browsers and servers on the basis of Node.js. 
  p In my work I use Node.js actively for assembling projects (Grunt, Bower, RequireJs) and transcompiling such ones as Jade, Haml, Stylus, Sass, CoffeeScript. 
  p I do love an outstanding trio of CoffeeScript, Stylus and Jade because of its fleetness, neat structure and rich syntax. 
  p Native JavaScript is my passion. I prefer to avoid any libraries if it is possible. I enjoy creating my own ones respecting works of other Great Creators.

#backend
.desc.programming
  h2 Back-end 
  p Platform choice depends on the specific features of the project. This is why I learn and catch up with a wide range of languages, technics and frameworks such as Ruby (RoR), Clojure, Python, Meteor.js and other. 
  p What else? ...databases! MongoDB, CouchDB, Redis, LevelDB.
  p Leaving the personal development, I study all of mentioned mostly for the sake of my front-end job.
  p Node.js is my choice. This platform could be easy called the most trendy. And it seems to drive me crazy and no other way. I devote my future projects to it.

#another
.desc.another
  h2 Other skills
  p There are a lot of tools helping me in my work. I cannot imagine a working process without my best friend Git and my usual ally Linux.
  p Even though I have just started to study test-driven development (TDD/BDD) I expect the results to be more than fruitful.
