#bars_box_design
.desc.design
  h2 Design
  p It's a favour feeling of your product or service.
  p But surface beauty should not harm of accuracy and convenience.
  p Provide and present content is a main objectives of web-design.
  p I do it for 7 years and every my project is a challenge for my skills and abilities.
  p So, are you ready to throw down a gage my experience?

#bars_box_front
.desc.front
  h2 Front-end 
  p First of all i'm javascript programmer and css virtuoso.
  p I write code for browsers as well as server via Node.js
  p I like to optimize all with duct tape as is possible.
  p In my work i actively use Node.js for assembling projects (Grunt, Bower, RequireJs) and compiling preprocessors such as Jade, Haml, Stylus, Sass, CoffeeScript.
  p I really love sublime trio of CoffeeScript, Stylus and Jade, because it's fast, have neat, sugary and concise syntax.
  p Native javascript is my weakness. I don't use any libraries if it possible. I love my own implementations but i appreciate works of really brutal mens.

#bars_box_back
.desc.programming
  h2 Back-end 
  p Platform choice depends of the specific project. Therefore i'm study a lot of interesting languages, frameworks and technologies such as Ruby (RoR), Clojure, Python, Meteor.js and others.
  p So more... databases! MondoDB, CouchDB; Redis, LevelDB... it seems i'm addicted to NoSQL. No way.
  p But i explore all this for my front-end and common outlook.
  p Node.js - that i choose in my work. This platform really actually for me and i really like it.
  p And my own projects will be develop on Node.js

#bars_box_another
.desc.another
  h2 Another skills
  p Many tools helpes me in my work. I can't imagine work process without my best friend Git and my reliance - Linux and his tools.
  p Even though i'm just learning test-driven development (TDD/BDD). I expect a lot from these techniques.